<!-- templates/form-data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data</title>
</head>
<body>
    <h1>Form Data</h1>
    <ul>
        {% for data in form_data %}
        <li>
            Age: {{ data.age }}, <br> Socioeconomic Background: {{ data.socioeconomic_background }}, <br> SSC Marks: {{ data.ssc_marks }}, <br> HSC Marks: {{ data.hsc_marks }}, <br> MHTCET Marks: {{ data.mhtcet_marks }}, <br> JEE Mains Marks: {{ data.jee_mains_marks }}
        </li>
        {% endfor %}
    </ul>
</body>
</html>
