<!-- form-data.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Data</title>
</head>
<body>
    <h1>Form Data</h1>
    <p>Age: {{ age }}</p>
    <p>Socioeconomic Background: {{ socioeconomic_background }}</p>
    <p>SSC Marks: {{ ssc_marks }}</p>
    <p>HSC Marks: {{ hsc_marks }}</p>
    <p>MHTCET Marks: {{ mhtcet_marks }}</p>
    <p>JEE Mains Marks: {{ jee_mains_marks }}</p>
</body>
</html>
